  .theList {
    list-style: none;
    justify-content: center;
    padding-left: 0;
    width: 400px;
  } 
  .theList li {
    color: #ffffff;
    background-color: rgba(129, 129, 129, 0.74);
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
    margin-top: 10px;
    display: flex;
    width: auto;
    border-radius: 5px;
    list-style: none;
    transition: background-color .2s ease-out;
  }
  ul.theList {
    padding: 0;
  }

  .subHeader button {
    font-size: 16px;
    margin: 10px;
    margin-right: 0px;
    float: right;
    background-color: #0066FF;
    color: #FFF;
    border: 2px solid #0066FF;
  }
  .subHeader button:hover {
    background-color: #003399;
    border: 2px solid #003399;
    cursor: pointer;
  }